* {
  margin: 0px;
  padding: 0px;
}
.nav-logo{
  width: 5em;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
}

.nav-list{
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav-icon{
  width: 1.5em;
}

.products{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-inline: 4rem;
}

.product-img{
  width: 10rem;
}